.invalid{
    border: 1px solid #fb6340;
    margin-bottom: 5px;
    font-size: 80%;
    border-radius : 5px; 
  }
  
  .validation-span{
    color:#e66b6b;
    font-size: 80%;
  }

  .media-body{
    width: 80px;
  }

  