<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                            <li class="breadcrumb-item"><a routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a routerLink="/admin/dashboard">{{'Dashboard' | translate}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'Locations' | translate}}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a *ngIf="isGranted('Create Locations')" href="javascript:void(0)" routerLink="/admin/create-update-location"
                        class="btn btn-neutral">{{'Add New Location' | translate}}
                    </a>
                    <a *ngIf="isGranted('View Location Map')" href="javascript:void(0)" routerLink="/admin/view-location-map"
                    class="btn btn-neutral">{{'Map View' | translate}}
                </a>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-6">
                            <h2 class="mb-0">{{'Locations' | translate}}</h2>
                        </div>
                        <div class="col-md-4 d-flex justify-content-between">
                            <select class="form-control mr-2" (change)="setSearchColumn($event)">
                                <option value="id">Id</option>
                                <option value="title">Name</option>
                            </select>
                            <input type="text" class="form-control rounded-lg"
                                placeholder="Search" (keyup)="searchRecord($event)" />
                        </div>
                    </div>
                </div>
                <!-- Light table -->

                <div class="card-body">
                    <ngx-datatable #table class="bootstrap" [columnMode]="ColumnMode.force" [rows]="rows"
                        [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                        [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                        [limit]="page.size" (page)="setPage($event)">
                        <ng-container *ngFor='let column of columns'>
                            <ngx-datatable-column *ngIf='column.name === "Default"' name="Default" prop="is_default">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span *ngIf="row.is_default == 1" class="badge badge-dot mr-4">
                                        <i class="bg-success"></i>
                                        <span class="status">{{'YES' | translate}}</span>
                                    </span>
                                    <span *ngIf="row.is_default == 0" class="badge badge-dot mr-4">
                                        <i class="bg-danger"></i>
                                        <span class="status">{{'NO' | translate}}</span>
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf='column.name === "Status"' name="Status" prop="is_active">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span *ngIf="row.is_active == 1" class="badge badge-dot mr-4">
                                        <i class="bg-success"></i>
                                        <span class="status">{{'Active' | translate}}</span>
                                    </span>
                                    <span *ngIf="row.is_active == 2" class="badge badge-dot mr-4">
                                        <i class="bg-warning"></i>
                                        <span class="status">{{'Pending' | translate}}</span>
                                    </span>
                                    <span *ngIf="row.is_active == 0" class="badge badge-dot mr-4">
                                        <i class="bg-danger"></i>
                                        <span class="status">{{'DeActive' | translate}}</span>
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf='column.name === "Actions"' name="Actions" prop="actions">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <td>
                                        <button *ngIf="isGranted('Update Locations')" class="btn text-white btn-icon-only bg-primary" routerLink="/admin/create-update-location/{{row.id}}"><i class="fas fa-pencil-alt"></i> </button>
                                        <button *ngIf="isGranted('Delete Locations')" class="btn text-white btn-icon-only bg-danger" (click)="delete(row.id)"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf='column.name !== "Actions" && column.name !== "Status" && column.name !== "Default"' name="{{column.name}}"
                                prop="{{column.prop}}">
                            </ngx-datatable-column>
                        </ng-container>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>