<div class='container'>
  <form #loginForm="ngForm" (ngSubmit)="onLogIn()">
        <span>Login</span>
          <input 
            [(ngModel)]="email"
            name="email"
            pattern="^\S+@\S+$"
            required="required"
            placeholder="Email" />
          <span *ngIf="email_validation">{{this.email_validation}}</span>
          <input
            [(ngModel)]="password"
            name="password"
            required="required"
            pattern=".{6,30}"
            type="password"
            placeholder="Password" />
          <span>{{this.password_validation}}</span>
        <!-- <a class="link" 
          [routerLink]="['/forgot-password']" 
          routerLinkActive="link-active">
          <span>Forgot password?</span>
        </a> -->
        <span  *ngIf="response_error">
          warning: {{this.response_error}}
        </span>
        <hr/>
      <button
        type="submit" color="primary">
        <span>Login</span>
      </button>
      <!-- <div class="link">
        <span>Don't have an account?&nbsp;</span>
        <a
          [routerLink]="['/register']"
          routerLinkActive="link-active">
          <span>Register</span>
        </a>
      </div>  -->
  </form>
</div>