<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{'Maps View' | translate}}</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">{{'Settings' | translate}}</a></li>
                            <li class="breadcrumb-item"><a  routerLink="/admin/view-location">{{'Locations' | translate}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'Maps View' | translate}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="mb-0">{{'Map View Listing' | translate}}</h3>
                        </div>
                        <div class="col-md-5">
                            <input 
                            value="London,UK"
                            class="form-control rounded-lg"
                            id="pac-input"
                            type="text"
                            placeholder="Search Box"
                             />
                        </div>
                        <div class="col-md-3">
                            <button  (click)="updatedCoords()" class="btn btn-md btn-neutral">{{'Update Coordinate' | translate}}</button>
                        </div>
                    </div>
                </div>
                <body >
                    <div id="map-canvas">
                    </div>
                    <div style="display: none;" id="info">
                    </div>
                </body>
                

            </div>
        </div>
    </div>
</div>
