<!-- Header -->
<!-- Header -->
<div class="header pb-6 d-flex align-items-center mb-10">
    <!-- <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Hello {{currentUser.profile.first_name}}</h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
                    your work and manage your projects or assigned tasks</p>
            </div>
        </div>
    </div> -->
</div>
<!-- Page content -->
<div class="container-fluid mt--10">
    <div class="row">
        <div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                <img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a  (click)="file.click()">
                                <img [src]="this.apiUrl + this.currentUser.profile.profile_pic" class="rounded-circle" >
                            </a>
                        </div>
 
                    </div>
                </div>
                
                <div class="card-body pt-5 mt-5">
                    <div class="text-center">
                        <h5 class="h3">
                            {{currentUser.profile.first_name}} {{currentUser.profile.last_name}} <span class="font-weight-light">, {{currentUser.profile.postal_code}}</span>
                        </h5>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>{{currentUser.profile.address}}
                        </div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>{{currentUser.profile.role_name}} - D-Ground Officer
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <form  [formGroup]="CreateProfile" (ngSubmit)="updateProfile()">
                    <input
                    (change)="upload($event)"
                     name="profile_pic"
                     style="display: none;"
                     type="file"
                     accept="image/*" 
                     #file 
                     />
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Edit profile </h3>
                            </div>
                            <div class="col-4 text-right">
                                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input
                                            formControlName="email"  
                                            name="email" required="required"
                                            pattern="^\S+@\S+$" type="email" placeholder="email"
                                            class="form-control mb-3" id="input-email"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.email.errors}" />
                                            <span *ngIf="submittedCreateProfile && cu.email.errors"
                                             class="validation-span">
                                             {{'Email is required' | translate}}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-password">Password</label>
                                        <input
                                            formControlName="password"  
                                            name="password" 
                                            type="password" placeholder="password"
                                            class="form-control mb-3" id="input-password"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.password.errors}" />
                                            <span *ngIf="submittedCreateProfile && cu.password.errors"
                                             class="validation-span">
                                             {{'Password Must Be Of At Least 6 Letters' | translate}}
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">First name</label>
                                        <input
                                            formControlName="first_name"  
                                            name="first_name" required="required"
                                             type="text" placeholder="First Name"
                                            class="form-control mb-3" id="input-first-name"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.first_name.errors}" />
                                            <span *ngIf="submittedCreateProfile && cu.first_name.errors"
                                             class="validation-span">
                                             {{'First Name is required' | translate}}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Last name</label>
                                        <input
                                            formControlName="last_name"  
                                            name="last_name" required="required"
                                             type="text" placeholder="Last Name"
                                            class="form-control mb-3" id="input-last-name"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.last_name.errors}" />
                                            <span *ngIf="submittedCreateProfile && cu.last_name.errors"
                                             class="validation-span">
                                             {{'Last Name is required' | translate}}
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        <input
                                            formControlName="address"  
                                            name="address" required="required"
                                             type="text" placeholder="Home Address"
                                            class="form-control mb-3" id="input-address"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.address.errors}" />
                                            <span *ngIf="submittedCreateProfile && cu.address.errors"
                                             class="validation-span">
                                             {{'Address is required' | translate}}
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">City</label>
                                        <select name="city" required="required"
                                            class="combobox input-large form-control mb-3" id="input-city"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.city.errors}">
                                            <option value="" selected="selected">Search a City</option>
                                            <option value="AL">Faisalabad</option>
                                            <option value="AK">Lahore</option>
                                        </select>
                                        <span *ngIf="submittedCreateProfile && cu.city.errors"
                                         class="validation-span">
                                         {{'City is required' | translate}}
                                        </span>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Country</label>
                                        <select  name="country" required="required"
                                            class="combobox input-large form-control mb-3" id="input-country"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.country.errors}">
                                            <option value="" selected="selected">Search a Country</option>
                                            <option value="AL">Pakistan</option>
                                            <option value="AK">India</option>
                                        </select>
                                        <span *ngIf="submittedCreateProfile && cu.country.errors"
                                         class="validation-span">
                                         {{'Country is required' | translate}}
                                        </span>
                                    </div>
                                </div> -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Postal code</label>
                                        <input
                                            formControlName="postal_code"  
                                            name="postal_code" required="required"
                                            type="text" placeholder="Postal code" class="form-control mb-3"
                                            id="input-postal-code"
                                            [ngClass]="{'invalid': submittedCreateProfile && cu.postal_code.errors}" />
                                            <span *ngIf="submittedCreateProfile && cu.postal_code.errors"
                                            class="validation-span">
                                            {{'Postal Code Me is required' | translate}}
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">About me</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">About Me</label>
                                <textarea rows="4"
                                    formControlName="about_me"  
                                    name="about_me" required="required"
                                    type="text" placeholder="A few words about you ..." class="form-control mb-3"
                                    id="input-about-me"
                                    [ngClass]="{'invalid': submittedCreateProfile && cu.about_me.errors}">
                                </textarea>
                                <span *ngIf="submittedCreateProfile && cu.about_me.errors"
                                    class="validation-span">
                                 {{'About Me is required' | translate}}
                                </span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>`