/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.custom{
  border: 1px solid red;
}
.iti--allow-dropdown input, 
.iti--allow-dropdown input[type=text], 
.iti--allow-dropdown input[type=tel], 
.iti--separate-dial-code input, 
.iti--separate-dial-code input[type=text], 
.iti--separate-dial-code input[type=tel] 
{
  padding-right: 215px;
  // padding-left: 321px;
  margin-left: 0;
}
.iti--separate-dial-code1 input[type=tel] 
{
  padding-right: 215px;
  // padding-left: 321px;
  margin-left: 0;
  border: 1px solid #FB6340;
}
.card{
    .card-header{
        padding: 15px;
        .buttons{
            padding-right: 15px;
        }
    }
    .card-body{
        padding-top: 0;
        padding: 15px;
    }
}
.ngx-datatable{
    overflow: visible !important;
}
.ngx-datatable .datatable-body .empty-row{
    text-align: center;
    margin-top: 15px;
    color: #ccc;
}
.ngx-datatable .datatable-header{
    display: flex !important;
    align-items: center;
    background-color: #f4f4f4;
}
.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell{
    overflow: visible !important;
}

.ngx-datatable .datatable-header .datatable-header-cell-label{
    font-weight: 600;color: #444;
    font-size: 13px;
    
    text-transform: uppercase;
}
// .ngx-datatable .datatable-header .datatable-header-cell-template-wrap{
//     display: flex;
//     align-items: center;
// }
// .ngx-datatable .datatable-header .datatable-header-cell-wrapper{
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     width: 90px;
//     margin-right: 15px;
// }
.ngx-datatable.bootstrap {
    box-shadow: none;
    font-size: 13px;
    border:none;
    border-collapse: collapse;
  }
  .ngx-datatable.bootstrap .datatable-header {
    height: unset !important;
    background-color:#ccc;
  }
  .ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    vertical-align: bottom;
    padding: 0.75rem;

  }
  .ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
    line-height: 24px;
  }

  .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    vertical-align: top;
    
  }
  .ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    vertical-align: top;
    padding: 0 0.75rem;
    
  }
  .ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
    background-color: #1483ff;
    color: #FFF;
  }
.ngx-datatable .datatable-body .datatable-body-row>div {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 5px 0;
    font-size: 13px;
}
.ngx-datatable .datatable-header .datatable-header-cell .resize-handle {
    border-right: 1px solid #ddd;
    margin-right: 15px;
}
// .ngx-datatable .datatable-header .datatable-header-cell {
//     // border-right: 1px solid #ddd;
//     // margin-right: 10px;
// }
.ngx-datatable .datatable-body .datatable-row-center .datatable-body-cell:last-child .datatable-body-cell-label{
    text-align: left;
}
.ngx-datatable .datatable-row-center .datatable-body-cell:first-child,
.ngx-datatable .datatable-row-center .datatable-header-cell:first-child{
    padding-left: 10px;
}
.page-count{
    padding-left: 10px;
    font-size: 13px;
}
// .ngx-datatable .datatable-body-cell {
//     border-right: 1px solid #ddd;
//     margin-right: 15px;
// }

// .form-control{
//     border-left: none;
//     border-right: none;
//     border-top: none;
//     border-radius: 0;
//     &:focus{
//         box-shadow: none;
//     }
// }
// .form-control:disabled, .form-control[readonly] {
//     background-color:transparent;
//     opacity: 1;
//     color: #b4b4b4;
// }
/* remove the original arrow */
select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* no standardized syntax available, no ie-friendly solution available */
}

select + .svg-icon {
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
    pointer-events: none;
    /* everything after this is just to cover up the original arrow */
    /* (for browsers that don't support the syntax used above) */
    background-color: #fff;
    padding-right: 5px;
    
}
.ng-select .ng-select-container {
    cursor: default;
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 46px !important; 
  }
  .ng-select .ng-select-container {
    border: 1px solid #dee2e6 !important;
  }


  .sidenav.navbar-vertical.navbar-expand-xs{
      padding-right: 2px;
      
  }
  
  .sidenav::-webkit-scrollbar {
    width: 2px;
  }
  .sidenav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .sidenav::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }


  .pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;


    li a {
        position: relative;
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: .5rem .75rem;
        margin-left: -.0625rem;
        line-height: 1.25;
        color: #8898aa;
        background-color: #fff;
        border: .0625rem solid #dee2e6;
        border-radius: 50%;
        padding: 0;
        margin: 0 3px;
        width: 36px;
        height: 36px;
        font-size: .875rem;
    }

    .pages.active a {
        z-index: 1;
        color: #fff;
        background-color: #5e72e4;
        border-color: #5e72e4;
    }
}

.nav-custom{
    .dropdown-item{
        font-size: 14px;
        padding-left: 48px;
    }
}

.table-custom{
    th, td{
        vertical-align: middle;
    }
}