<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/dashboard"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a routerLink="/admin/view-role">{{'Roles' | translate}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page" >
                                {{'Add' | translate}}</li>
                        </ol>
                    </nav>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0" *ngIf="dataToEdit">
                    <div class="col-md-12">

                        <form [formGroup]="createRole" (ngSubmit)="onSubmitRole()">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="name">{{'Name' | translate}}</label>
                                    <input type="text" placeholder="{{'Name' | translate}}" class="form-control" id="name"
                                        formControlName="name"
                                        [ngClass]="{ 'is-invalid': submittedCreateRole && cu.name.errors }" />

                                    <div *ngIf="submittedCreateRole && cu.name.errors" class="invalid-feedback">
                                        <div *ngIf="cu.name.errors.required">{{'Name is required' | translate}}</div>
                                        <div *ngIf="cu.name.errors.pattern">{{'Enter alphabets only' | translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="is_active">{{'Status' | translate}}</label>
                                    <select class="form-control" id="is_active" formControlName="is_active"
                                        [ngClass]="{ 'is-invalid': submittedCreateRole && cu.is_active.errors }">
                                        <option value="">{{'Select Status' | translate}}</option>
                                        <option value="1">{{'Active' | translate}}</option>
                                        <option value="0">{{'Inactive' | translate}}</option>
                                    </select>
                                    <span class="svg-icon">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16"
                                            class="bi bi-chevron-down" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </span>
                                    <div *ngIf="submittedCreateRole && cu.is_active.errors" class="invalid-feedback">
                                        <div *ngIf="cu.is_active.errors.required">{{'Status is required' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="buttons">
                                    <a routerLink="/admin/view-role"
                                        class="btn btn-secondary">{{'Cancel' | translate}}</a>
                                    <button type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>