<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
      <div class="header-body">
          <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">

                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                      <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                          <li class="breadcrumb-item"><a routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                          
                          <li class="breadcrumb-item active" aria-current="page">{{'Clients' | translate}}</li>
                      </ol>
                  </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <a href="javascript:void(0)" (click)="excelDownload();"
                class="btn btn-info">{{'Export CSV' | translate}}</a>
                  <a  *ngIf="isGranted('Create Clients')" href="javascript:void(0)" routerLink="/admin/create-update-client"
                      class="btn btn-neutral">{{'Add New' | translate}}</a>
              </div>
          </div>

      </div>
  </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
      <div class="col">
          <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                  <div class="row align-items-center justify-content-between">
                      <div class="col-md-6">
                          <h2 class="mb-0">{{'Clients' | translate}}</h2>
                      </div>
                      <div class="col-md-4 d-flex justify-content-between">
                          <select class="form-control mr-2" (change)="setSearchColumn($event)">
                              <option value="id">Id</option>
                              <option value="title">Name</option>
                          </select>
                          <input type="text" class="form-control rounded-lg"
                              placeholder="Search" (keyup)="searchRecord($event)" />
                      </div>
                  </div>
              </div>
              <!-- Light table -->
              
            <div class="card-body">
               <div class="col-12 px-0 mb-3">
                <ng-select [items]="allColumns" [multiple]="true" bindLabel="name"  [selectableGroup]="true"
                [closeOnSelect]="false" [(ngModel)]="columns">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name | uppercase}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                </ng-template>
            </ng-select>
               </div>
                <ngx-datatable
                  class="bootstrap"
                  [rows]="rows"
                  [columnMode]="ColumnMode.force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [scrollbarH]="true"
                  rowHeight="auto"
                  [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)"
                >
                <ngx-datatable-column name="ID" prop="id" [width]="100" [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                
                  <ngx-datatable-column *ngFor="let col of columns" [width]="250" [name]="col.name" [prop]="col.prop"> </ngx-datatable-column>

                  <ngx-datatable-column name="Status" prop="is_active" [width]="100">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="row.is_active == 1" class="badge badge-dot mr-4">
                            <i class="bg-success"></i>
                            <span class="status">{{'Active' | translate}}</span>
                        </span>
                        <span *ngIf="row.is_active == 0" class="badge badge-dot mr-4">
                            <i class="bg-danger"></i>
                            <span class="status">{{'Inactive' | translate}}</span>
                        </span>
                    </ng-template>
                </ngx-datatable-column> 
               
                  <ngx-datatable-column name="Actions" [width]="150">
                      <ng-template let-value="value"  let-row="row" ngx-datatable-cell-template>
                          <button class="btn text-white btn-icon-only bg-primary" *ngIf="isGranted('Update Clients')" routerLink="/admin/create-update-client/{{row.id}}"><i class="fas fa-pencil-alt"></i> </button>
                          <button class="btn text-white btn-icon-only bg-danger" *ngIf="isGranted('Delete Clients')" (click)="delete(row.id)"><i class="far fa-trash-alt"></i></button>
                                  
                      </ng-template>
                      
                    </ngx-datatable-column>
                </ngx-datatable>
              </div>
          </div>
      </div>
  </div>
</div>