<div class="bg-default">
    <!-- Navbar -->
    <!-- <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand">
          <img src="../assets/img/brand/main-logo.png" style="height:44px;">
          <span style="font-size:20px; margin: 10px;">Invictus CRM</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="#">
                  <img src="../assets/img/brand/main-logo.png" height="44px">
                  <span style="font-size:20px; margin: 10px;">Invictus</span>
    
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <hr class="d-lg-none" />
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" data-original-title="Like us on Facebook">
                <i class="fab fa-facebook-square"></i>
                <span class="nav-link-inner--text d-lg-none">Facebook</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" data-original-title="Follow us on Instagram">
                <i class="fab fa-instagram"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" data-original-title="Follow us on Twitter">
                <i class="fab fa-twitter-square"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" data-original-title="Star us on Github">
                <i class="fab fa-github"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
              </a>
            </li>
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="" target="_blank" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fas fa-shopping-cart mr-2"></i>
                </span>
                <span class="nav-link-inner--text">Best CRM Ever!</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- Main content -->
    <div class="main-content" style="height: 100vh;">
      <!-- Header -->
      <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
          <div class="header-body text-center mb-1">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                <img class="img-fluid mb-4" src="assets/img/logo.png" alt="d-ground">
                
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Sign in with credentials</small>
                  
                </div>
                <!-- <form role="form" > -->
                  <div class="form-group mb-3">
                    <div class="input-group input-group-merge input-group-alternative" [ngClass]="{'invalid': this.email_validation != ''}">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input
                        [(ngModel)]="email"
                        name="email"
                        pattern="^\S+@\S+$"
                        required="required"
                        placeholder="Email"
                        class="form-control"
                      />
                      
                    </div>
                    <div class="text-danger mt-2" style="font-size: 12px;" *ngIf="email_validation">{{this.email_validation}}</div>
    
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative" [ngClass]="{'invalid': this.password_validation != ''}">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input
                        [(ngModel)]="password"
                        name="password"
                        required="required"
                        pattern=".{6,30}"
                        type="password"
                        placeholder="Password"
                        class="form-control"
                       />
                       
                    </div>
                    <div class="text-danger mt-2" style="font-size: 12px;" *ngIf="password_validation">{{this.password_validation}}</div>
 
                  </div>
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                    <label class="custom-control-label" for=" customCheckLogin">
                      <span class="text-muted">Remember me</span>
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="button" [buttonBusy]="saving" [busyText]="('Login...')" (click)="onLogIn()" class="btn btn-primary my-4">Sign in</button>
                  </div>
                <!-- </form> -->
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <a routerLink="/accounts/forgot-password" class="text-light"><small>Forgot password?</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    